# ==============================================================================
# FICHIER .env.example — Copier en .env et NE PAS committer le .env dans Git
# Ajouter ".env" dans votre .gitignore
# ==============================================================================

# --- MinIO (Data Lake S3) ---
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=supersecretpassword123

# --- PostgreSQL (Data Warehouse) ---
POSTGRES_USER=data_engineer
POSTGRES_PASSWORD=password123
POSTGRES_DB=nyc_taxi_dw

# --- Airflow ---
AIRFLOW_FERNET_KEY=your_fernet_key_here   # générer avec : python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://data_engineer:password123@postgres/nyc_taxi_dw
